/* Override some defaults */
.container > footer p {
	text-align: center; /* center align it with the container */
}
.container {
	width: 790px;
}
/* The white background content wrapper */
.content {
	background-color: #fff;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	width: 1024px;
}
/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.button {
  float: right;
  margin-top: -30px;
}
.topbar .btn {
	border: 0;
}
.status {
	float: left
}
body {
  padding-top: 60px;
}

li {
  list-style: decimal;
  font-size: 12px;
}
#editor {
        position: relative;
        width: 520px;
        height: 400px;
}
.console {
  height: 150px;
  overflow: auto;
  background-color: #000;
}

.alert-message {
  margin-bottom: 0px
}
