body {
  padding-top: 80px;
  padding-bottom:25px;
}

#tiSubmit{
  margin-top:10px;
}

#editor {
  border-radius:3px;
  position: relative;
  width: 100%;
  height: 150px;
}

#editor .ace_print_margin{
  display: none;
}

#console {
  border-radius:3px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.alert {
  margin-bottom:5px;
  border-radius: 3px;
}

.title{
  margin-top: -10px;
  margin-bottom: 10px;
}

.form-search{
  margin-top:10px;
}

button:focus, .btn:focus{
  outline: none;
}