body {
  padding-top: 80px;
  padding-bottom:25px;
}

#tiSubmit{
  margin-top:10px;
}

#editor {
  border-radius:3px;
  position: relative;
  width: 100%;
  height: 150px;
}

#editor .ace_print_margin{
  display: none;
}

#console {
  border-radius:3px;
  height: 300px;
  padding: 5px;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 14px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
}
.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #eee;
}
.alert {
  margin-bottom:5px;
  border-radius: 3px;
}

.title{
  margin-top: -10px;
  margin-bottom: 10px;
}

.form-search{
  margin-top:10px;
}

button:focus, .btn:focus{
  outline: none;
}

body {
  font-family: "Karla"
}
.container-narrow {
  margin: 0 auto;
  max-width: 880px;
}
.content {
  padding-top: 50px
}
.top-section {
  padding: 100px 60px
}
.extra-padding {
  padding: 40px 0px 60px
}
a {
  color: #777777
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: #fff;
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: #fafafa;
  color: #000000;
  text-decoration: none;
  box-shadow: none;
}
footer {
  padding: 10px 0px 20px
}
.sidenav.affix {
  padding-top: 70px;
  position: fixed;
  float: left
}
.sidenav {
  width: 240px 
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFFFFF;
  text-decoration: none;
}
.navbar-inner {
  background-color: #FCFCFC;
  background-image: inherit;
}
.yybrand {
  color: #ffffff;
  background-color:#333333;
  font-size: 13px;
  font-weight: 200;
  padding: 3px 4px;
  margin: 3px;
  border-radius: 2px;
  font-family: "Lustria";
}
a.yybrand {
  text-decoration: none;
  color: #ffffff
}
.large-code {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 25px;
  padding: 35px 0;
  text-align: center;
}
.yyblue {
  color: #2192E3;
}
.navbar .brand {
  color: #000000;
}
.navbar .nav {
 margin: 10px 10px 0 0
}

.navbar .brand {
  padding: 20px 20px
}

[class^="icon-"], [class*=" icon-"] {
  color: #2192E3;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  color: #2192E3;
}

