.topbar
  .fill
    .container
      a(class="brand", href="#") TiShadow 
.container
  .row
    .span9
      h3 Enter your Titanium Code 
      .button
        input(type='submit', id="tisubmit", value="Send Code")
      div(id="editor")
    .span3
      h3 Devices 
        ul.device_list

