extends layout

block content
  div(ng-controller='mainController')
    .well.row-fluid
      .span9(style='position:relative')
        h3.title Enter your Titanium Code
        #editor(ng-keypress="keypress")
        button.btn.btn-danger(type='submit', id="tisubmit", ng-click="submit()") Execute Code
        button.btn.btn-default(type='submit', id="tisubmit", ng-click="closeApp()") Close/Restart
      .span3
        h4 Devices
        ul.device_list.unstyled
          li(ng-repeat="device in devices", id="device.id")
            i.fa.fa-mobile
            | &nbsp;&nbsp;{{ device.name }}
    .well.row-fluid
      ul#tabs.nav.nav-tabs
        li.active
          a(href="#cons") Console
        li
          a(href="#inspector") Inspector

      .tab-content
        #cons.tab-pane.active(style='position:relative;')
          #console
            div(ng-repeat="log in logs | filter:search" class="control-group {{log.style}}")
             span.control-label {{log.log}}
          .form-search
            input#filter.input-large.search-query(type='search', placeholder="Filter",ng-model="search.log")
            .btn-group(style='margin-left:5px;')
              button.btn.btn-all.disabled.btn-toggle(ng-click="search.level=''") All
              button.btn.btn-info.btn-toggle(ng-click="search.level='DEBUG'")  Debug 
              button.btn.btn-success.btn-toggle(ng-click="search.level='INFO'")  Info
              button.btn.btn-warning.btn-toggle(ng-click="search.level='WARN'")  Warning
              button.btn.btn-danger.btn-toggle(ng-click="search.level='ERROR'")  Errors
            .btn-group
              button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', ng-disabled="!_.size(devices)")
                | Devices
                | &nbsp;&nbsp;<span class="caret"></span>
              ul.dropdown-menu
                li(ng-repeat="device in devices")
                  a {{ device.name }}
            button.btn.pull-right(style='margin-left:5px;', ng-click='downloadFile()')
              i.fa.fa-file
              | &nbsp; Download Log
        #inspector.tab-pane(style='position:relative;')
            a.btn.btn-default.pull-right(ng-if="currentSpy" ng-click="inspectReset()") Reload 
            form.form-horizontal
              .control-group(ng-repeat="(key, value) in inspect.values" ng-if="key.indexOf('_') !==0" ng-init="stack=[]")
                 span(ng-include="'json.html'")
               a.btn.btn-default(ng-click="inspectChildren(key,value,[])") Inspect Children     

  script(id="json.html",type="text/ng-template").
    <label class="control-label"> {{key}}</label>
    <div style="controls">
      <input type="text" ng-model="value" ng-if="!_.isObject(value) && !_.isBoolean(value)" ng-keypress="keypress($event, key, value, stack)">
      <input type="checkbox" ng-model="value" ng-if="_.isBoolean(value)" $ng-change="update(key,value, stack)">
      <div ng-init="stack = stack.concat(key)" ng-if="_.isObject(value)" ng-style="{'padding-left': + ((stack.length + 1) * 50) + 'px'}">
        <hr/>
        <div class="control-group" ng-repeat="(key, value) in value" ng-if="key.indexOf('_') !==0")>
         <span ng-include="'json.html'"></span>
        </div>
         <a class="btn btn-default" ng-click="inspectChildren(key,value,stack)" >Inspect Children</a>    
         <hr/>
       </div>
    </div>
      

  script(type="text/javascript").
    $('#tabs a').click(function (e) {
      $(this).tab('show');
      e.preventDefault();
    })
